.chart-wrapper{
    display: flex;
    flex-wrap: wrap;
  justify-content: space-around;
  width: 94vw;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;;
  box-shadow: var(--shadow);
  margin: 2rem;



}